<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="container">

	<% include ../partials/jumbotron.ejs %>
	
	<div class="login">
	<h2> Please Select Your Login Environment <h2>
	<hr>
	<h3> Environment : <h3>
		<select id="id_environment" name="environment" class="form-control">
							<option value="Production">Production</option>
							<option value="Sandbox">Sandbox</option>
		</select>
		<br>
		<center>
		<a type="button" id="login" class="btn btn-lg btn-primary"> Login </a>
		</center>
	</div>
	<div id="getData"></div>
</div>

</body>
</html>
